html, body, div, button, h2, p, figure, img {
    padding: 0;
    border: 0;
}
body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(211, 58, 58);
}
.fotoperfil {
    width: 660px;
    height: 335px;
    margin: 0 auto;
    display: flex;
}
.fotoperfil img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.flor {
    width: 200px;
    height: 200px;
    visibility:hidden
}
.sobremim {
    margin: 0 auto;
    width: 72%;
    font-size: 20px;
}
.sobremim h1 {
    text-align: center;
}
.btn {
    width: 200px;
    height: 35px;
    background-color:darkred;
    color: white;
    border-radius: 5px;
    margin: 10px auto;
}
.botao {
    text-align: center;
}
.contato p {
    font-size: 20px;
}
.contato {
    display: flex;
    width: 100%;
    text-align: center;
}
.box1 {
    width: 50%;
}
.box2 {
    width: 50%;
}